* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter-font {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
}
.header {
  background-color: #412567;
  height: 92px;
  width: 1920px;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  max-width: 1440px;
}

.logo img {
  height: 32px;
  display: block;
}

.menu-nav ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

.menu-nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.subscribe-btn a {
  background: linear-gradient(to right, #ff00cc, #ffcc00);
  padding: 12px 24px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}
.hero-section {
  background-image: url('./assets/hero-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 520px 25px 520px;
}

.hero-circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.new-label {
  position: absolute;
  top: 225px;
  left: 55%;
  transform: translateX(-10%);
  background-color: #00ff88;
  color: #1a0b2e;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 600;
  z-index: 2;
}

.microphone-icon {
  position: absolute;
  top: 27%;
  left: 35%;
  animation: pulse 2s infinite;
}

.circle-image {
  width: 410px;
  height: 410px;
}

.hero-title {
  color: #ffff;
  font-size: 60px;
  font-weight: 800;
  margin-top: 10px;
}

.hero-description {
  color: #ffff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  max-width: 550px;
}

.hero-buttons {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.spotify-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: linear-gradient(to right, #ff00cc, #ffcc00);
  padding: 12px 20px 12px 20px;
  border-radius: 20px;
  color: #ffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.subscribe2-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: 1.5px solid #00ff88;
  padding: 12px 20px 12px 20px;
  border-radius: 20px;
  color: #00ff88;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

/* microphone animation */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.9);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
